@page
@model IntroModel
@{
    ViewData["Title"] = "Intro";
    ViewBag.SiteTitle = "My Dark Site";
}


        <div class="text-center">
            <h3>Moxit Shah</h3>
        </div>

        <div>
            <form method="GET">

                <div class="form-group">
                    <label asp-for="Value1"> Value 1: </label>
                    <input asp-for="Value1" type="number" />
                    <span asp-validation-for="Value1"> </span>
                </div>
                <div class="form-group">
                    <label asp-for="Value2"> Value 2: </label>
                    <input asp-for="Value2" type="number" />
                    <span asp-validation-for="Value2"> </span>
                </div>
                <div class="form-group">
                    <input type="submit" value="submit" />
                </div>



            </form>

            <div>

                <label>  Output: </label><br/>
                <label> 1: @Model.Value1 </label><br/>
                <label> 2: @Model.Value2 </label>

            </div>

        </div>



@section body{

    <div class="text-center">
        <h5> This is my para</h5>
        <p> Hello! Welcome to my Intro page.</p>
    </div>
}